# Folders
./vscode/**
packages/**/lib
packages/**/.DS_Store
packages/.DS_Store
packages/**/dist
.DS_Store
node_modules
coverage
.out
.yarn/cache
.typescript
storybook-static/
stats/
tsconfig.tsbuildinfo
*.log

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.yarn/build-state.yml