.react-toast-notifications__toast__dismiss-button {
  cursor: "pointer";
  flex-shrink: 0;
  opacity: 0.5;
  padding: 8px 12px;
  transition: "opacity 150ms";
}

.react-toast-notifications__toast__dismiss-button:hover {
  opacity: 1;
}

.react-toast-notifications__toast__content {
  flex-grow: 1;
  font-size: 14;
  line-height: 1.4;
  min-height: 40;
  padding: 8px 12px;
}

.react-toast-notifications__toast__dismiss-text {
  border: 0;
  clip: "rect(1px, 1px, 1px, 1px)";
  height: 1;
  overflow: "hidden";
  padding: 0;
  position: "absolute";
  white-space: "nowrap";
  width: 1;
}
