.react-toast-notifications__toast {
  display: flex;
  margin-bottom: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  width: 360px;
}

.react-toast-notifications__toast.react-toast-notifications__toast--success {
  background-color: #e3fcef;
  color: #006644;
}

.react-toast-notifications__toast.react-toast-notifications__toast--error {
  background-color: #ffebe6;
  color: #bf2600;
}

.react-toast-notifications__toast.react-toast-notifications__toast--info {
  background-color: #ffffff;
  color: #505f79;
}

.react-toast-notifications__toast.react-toast-notifications__toast--warning {
  background-color: #fffae6;
  color: #ff8b00;
}
