.react-toast-notifications__toast__icon-wrapper {
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  width: 30px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.react-toast-notifications__toast__icon-wrapper.react-toast-notifications__toast__icon-wrapper--error {
  background-color: #ff5630;
  color: #ffebe6;
}

.react-toast-notifications__toast__icon-wrapper.react-toast-notifications__toast__icon-wrapper--success {
  background-color: #36b37e;
  color: #e3fcef;
}

.react-toast-notifications__toast__icon-wrapper.react-toast-notifications__toast__icon-wrapper--warning {
  background-color: #ffab00;
  color: #fffae6;
}

.react-toast-notifications__toast__icon-wrapper.react-toast-notifications__toast__icon-wrapper--info {
  background-color: #2684ff;
  color: #ffffff;
}

.react-toast-notifications__toast__icon {
  position: relative;
  z-index: 1;
}
