@keyframes countdown {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

.react-toast-notifications__toast__countdown_animation {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
  animation-name: countdown;
}
