.calendar-container {
  width: 250px;
  margin-top: 10px;
  .form-field--input {
    margin: 0;
  }
  .range-date {
    border: 0;
    margin-left: 5px;
    border-left: 1px solid $blue-grey-100;
    border-radius: 0;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
      right 5px center no-repeat;
  }
  .calendar-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 5px;
    border: 1px solid $blue-grey-100;
    border-radius: 3px 3px 0 0;
    height: 40px;
    &__label {
      font-size: 13px;
      width: 40px;
    }
  }
  .calendar {
    width: 250px;
    background: white;
    border: 1px solid $blue-grey-100;
    border-top: 0;
    position: absolute;
    z-index: 10;
    &__header {
      padding: 15px 12px;
      color: $nearly-black;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__year {
        cursor: pointer;
        color: $nearly-black;
        font-size: 13px;
      }
      &__year,
      &__next,
      &__prev {
        cursor: pointer;
        font-weight: bold;
      }
    }
    &__content {
      font-size: 14px;
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 16px;
        color: $grey-medium;
        font-size: 11px;
      }
      &__days {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
          width: calc((250px / 7) - 2px);
          height: (250px / 7);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: $nearly-black;
          font-size: 12px;
          &.disabled {
            color: #aaa;
          }
          &.active {
            color: white;
            background: $primary-color;
            font-weight: bold;
            border-radius: 2px;
          }
          &.current {
            color: $primary-color;
            font-weight: bold;
          }
        }
      }
    }
  }
}
