.multiselect {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  & p {
    margin: 0;
    padding: 5px 2px;
    font-size: $size-xx-small;
    text-align: left;
  }

  &__clear {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin: 10px;
  }

  &__input__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .chip {
      background-color: #546e7a;
      color: white;
      margin-right: 5px;
      margin-top: 5px;
    }
    &__chips {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      padding: 7px;
      border: 1px solid $blue-grey-100;
      width: 100%;
      border-radius: 3px;
    }
    .form-field {
      width: auto;
      input {
        border: 0;
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 250px;
    overflow-y: auto;
    transform: translateY(100%);
    width: 100%;
    box-shadow: $box-shadow-small;
    border: 1px solid $grey-light;
    background: $white;
    z-index: 1000;

    & .form-field {
      padding: 10px;
    }
    & p {
      margin: 0;
      padding: 10px;
      font-size: $size-x-small;
      text-align: left;
    }
    label {
      display: flex;
      flex-direction: column;
      margin: 5px 0 0 10px;
      span {
        color: #444444;
        line-height: 20px;
        font-size: 13px;
      }
      span:nth-child(2) {
        color: #9b9b9b;
        font-size: 11px;
        text-align: left;
      }
    }
  }

  .form-field {
    margin: 0;
  }

  .form-group {
    margin: 0;
    padding: 10px 20px;
  }

  .form-group:hover {
    background: $grey-light;
    cursor: pointer;
  }
}

.sidebar .multiselect {
  margin: 0;

  & + .multiselect {
    margin-top: 10px;
  }
}
