@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-base: rgba(66, 63, 63, 1);
  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-muted: rgba(199, 210, 254, 1);
  --color-text-inverted: rgba(137, 155, 188, 1);
  --color-text-outlined: rgba(66, 133, 244, 1);
  --color-text-outlined-disabled: rgba(190, 190, 190, 1);
  --color-button-primary: rgb(1, 255, 136);
  --color-button-primary-hover: rgba(147, 183, 243, 1);
  --color-button-disabled: rgba(190, 190, 190, 1);
  --color-button-pressed: rgba(137, 155, 188, 1);
  --color-button-outlined: rgba(255, 255, 255, 1);
  --color-button-outlined-hover: rgba(66, 133, 244, 1);
  --border-radius-button: '17px';
  --border-radius-button-large: '21px';
  --border-button-outlined: rgba(66, 133, 244, 1);
  --border-button-disabled: rgba(66, 133, 244, 1);
  --tab-color-text-base: rgba(66, 63, 63, 1);
  --tab-color-text-inverted: rgba(255, 255, 255, 1);
  --tab-color-button-primary: rgba(215, 224, 240, 1);
  --tab-color-button-primary-hover: rgba(66, 133, 244, 1);
  --tab-border-radius: '8px';
}

.theme-frontend {
  --color-text-base: rgba(66, 63, 63, 1);
  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-muted: rgba(199, 210, 254, 1);
  --color-text-inverted: rgba(137, 155, 188, 1);
  --color-text-outlined: rgba(66, 133, 244, 1);
  --color-text-outlined-disabled: rgba(190, 190, 190, 1);
  --color-button-primary: rgba(59, 130, 246, 1);
  --color-button-primary-hover: rgba(29, 78, 216, 1);
  --color-button-disabled: rgba(190, 190, 190, 1);
  --color-button-pressed: rgba(96, 165, 250, 1);
  --color-button-outlined: rgba(255, 255, 255, 1);
  --color-button-outlined-hover: rgba(66, 133, 244, 1);
  --border-radius-button: '5px';
  --border-radius-button-large: '8px';
  --border-button-outlined: rgba(66, 133, 244, 1);
  --border-button-disabled: rgba(66, 133, 244, 1);
  --tab-color-text-base: rgba(66, 63, 63, 1);
  --tab-color-text-inverted: rgba(255, 255, 255, 1);
  --tab-color-button-primary: rgba(215, 224, 240, 1);
  --tab-color-button-primary-hover: rgba(66, 133, 244, 1);
  --tab-border-radius: '8px';
}
