.snackbar{
	position:fixed;
	top:150%;
	left:5%;
	background:#333;
	padding:10px;
	color:#fff;
	font-size:16px;
	box-shadow:0 0 25px rgba(33,33,33,0.5);
	border-radius:3px;
	transform:translateY(-50%);
	box-sizing:border-box;
	opacity:0;
	display: flex;

}
.snackbar.active{
	top:90%;
	left:5%;
	opacity:1;
	display: flex;
}

.snackbar--bottomLeft {
	animation:0.3s down ease 1; 
} 

.snackbar--bottomLeft.active {
	animation:0.3s up ease 1;
}


.message{
	height:40px;
	line-height:40px;
	padding:0 10px;
	text-align:center;
}
.close{
	height:40px;
	width:40px;
	border-radius:50%;
	cursor:pointer;
	background:rgba(0,0,0,0.1);
	font-size:16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes up{
	0%{
		display:none;
		top:100%;
		opacity:0;
	}
	75%{
		top:90%;
		opacity:1;
	}
	100%{
		display:block;
	}
}
@keyframes down{
	0%{
		top:90%;
		opacity:1;
		display:block;
	}
	75%{
		top:150%;
		opacity:0;
	}
	100%{
		display:block;
	}
}
