
.loader {
  width: 100%;
}

.loader__bar--lock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(0, 0, 0, .3);
}

.loader__spinner--lock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: rgba(0, 0, 0, .3);

}

.loader__bar {
  position: relative;
  border-radius: 10px;
  background-color: #FFF;
  margin-bottom: 14px;
  background-color: lavender; 
}

.loader__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #76E19E;
  transition-duration: .8;
  transition: background-color .4s ease;
}

.loader__tick-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  opacity: 0;
  background-color: #76E19E;
  transition: all .2s ease;
  transform: scale(0);
}

.loader__tick-wrapper .icon {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.loader__progress--icon .loader__tick-wrapper {
  opacity: 1;
  transform: scale(1);
}

.loader__tick {
  width: 15px;
  height: 16px;
  fill: #FFF;
}

.loader__label {
  display: block;
  font-size: rem(16);
  text-align: center;
  color: grey;
}

.loader__label--left {
  text-align: left;
}

.loader__label--rigth {
  text-align: right;
}

.loader__spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, .5);
}

.loader__spinner--linear {
  animation: spinner .6s infinite linear;
}

.loader__spinner--ease {
  animation: spinner 1s ease-in-out infinite;
}


@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}