h1 {
  display: 'inline-block';
  border-bottom: '1px solid black';
}

table {
  text-align: 'center';
  border: '1px solid #dee2e6';
  width: '100%';
};

.showCaseDivStyles {
  display: 'flex';
  justify-content: 'space-around';
  flex-wrap: 'wrap';
  min-height: '10em';
};
