@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-text-color-base: 66, 63, 63;
    --button-text-color-primary: 255, 255, 255;
    --button-text-color-muted: 199, 210, 254;
    --button-text-color-inverted: 137, 155, 188;
    --button-text-color-outlined: 66, 133, 244;
    --button-text-color-outlined-disabled: 190, 190, 190;
    --button-fill-color-primary: 255, 173, 1;
    --button-fill-color-primary-hover: 147, 183, 243;
    --button-fill-color-disabled: 190, 190, 190;
    --button-fill-color-pressed: 137, 155, 188;
    --button-fill-color-outlined: 255, 255, 255;
    --button-fill-color-outlined-hover: 66, 133, 244;
    --button-border-radius: 17px;
    --button-border-radius-large: 21px;
    --button-border-outlined: 66, 133, 244;
    --button-border-outlined-pressed: 137, 155, 188;
    --button-border-outlined-disabled: 137, 155, 188;
    --tab-text-color-base: 66, 63, 63;
    --tab-text-color-inverted: 255, 255, 255;
    --tab-fill-color-primary: 215, 224, 240;
    --tab-fill-color-primary-hover: 66, 133, 244;
    --tab-border-radius: 8px;
    --modal-text-color-header: 66, 63, 63;
    --modal-text-color-content: 66, 63, 63;
    --modal-text-color-footer: 66, 63, 63;
    --modal-fill-color-header: 255, 255, 255;
    --modal-fill-color-container: 247, 250, 251;
    --modal-fill-color-content: 247, 250, 251;
    --modal-fill-color-footer: 247, 250, 251;
    --modal-border-color-footer: 221, 221, 221;
    --modal-border-radius: 8px;
    --input-text-color-base: 102, 102, 102;
    --input-border-radius: 5px;
    --input-fill-color-base: 254, 254, 254;
    --input-fill-color-hover: 247, 250, 251;
    --input-fill-color-focus: 247, 250, 251;
    --input-border-base: 178, 191, 214;
    --input-border-focus: 66, 133, 244;
    --input-border-success: 15, 157, 88;
    --input-border-loading: 178, 191, 214;
    --input-border-warning: 244, 180, 2;
    --input-border-error: 219, 68, 55;
    --input-text-color-base: 102, 102, 102;
    --input-text-color-success: 15, 157, 88;
    --input-text-color-error: 219, 68, 55;
    --input-text-color-warning: 244, 180, 2;
    --input-text-color-loading: 66, 133, 244;
    --input-ring-color-success: 15, 157, 88;
    --input-ring-color-error: 219, 68, 55;
    --input-ring-color-loading: 66, 133, 244;
    --input-ring-color-warning: 244, 180, 2;
    --input-ring-color-success: 15, 157, 88;
  }
}
